In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df1= pd.read_csv('matches.csv')
df2= pd.read_csv('deliveries.csv')

In [4]:
df1

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [5]:
df2

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [11]:
# Matches in 2008
matches_2008 = (df1['season']=='2008')
df1[matches_2008].value_counts()

Series([], Name: count, dtype: int64)

In [24]:
#City with max and min matches
df1['city'].value_counts()

city
Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Mohali             10
Rajkot             10
Dharamsala          9
Indore              9
Johannesburg        8
Port Elizabeth      7
Abu Dhabi           7
Cape Town           7
Ranchi              7
Cuttack             7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Kimberley           3
Nagpur              3
East London         3
Bloemfontein        2
Name: count, dtype: int64

In [25]:
print('Max no of matches in:')
df1['city'].value_counts().idxmax()

Max no of matches in:

'Mumbai'

In [26]:
print('Min no of matches in:')
df1['city'].value_counts().idxmin()

Min no of matches in:

'Bloemfontein'

In [37]:
# Total matches city wise
no_of_matches = df1['city'].value_counts()
no_of_matches

city
Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Mohali             10
Rajkot             10
Dharamsala          9
Indore              9
Johannesburg        8
Port Elizabeth      7
Abu Dhabi           7
Cape Town           7
Ranchi              7
Cuttack             7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Kimberley           3
Nagpur              3
East London         3
Bloemfontein        2
Name: count, dtype: int64

In [38]:
# Max and min toss winner
df1['toss_winner'].value_counts().idxmax()

'Mumbai Indians'

In [39]:
df1['toss_winner'].value_counts().idxmin()

'Rising Pune Supergiant'

In [40]:
df1['toss_winner'].value_counts()

toss_winner
Mumbai Indians                 98
Kolkata Knight Riders          92
Chennai Super Kings            89
Kings XI Punjab                81
Royal Challengers Bangalore    81
Delhi Daredevils               80
Rajasthan Royals               80
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  15
Delhi Capitals                 10
Kochi Tuskers Kerala            8
Rising Pune Supergiants         7
Rising Pune Supergiant          6
Name: count, dtype: int64

In [60]:
# Toss decision of team
td = df1[['toss_winner','toss_decision']].value_counts()
df3= pd.DataFrame(td)
df3.sort_values(by='toss_winner')

                                           count
toss_winner                 toss_decision
Chennai Super Kings         bat               48
                            field             41
Deccan Chargers             bat               24
                            field             19
Delhi Capitals              field              8
                            bat                2
Delhi Daredevils            field             51
                            bat               29
Gujarat Lions               field             14
                            bat                1
Kings XI Punjab             bat               26
                            field             55
Kochi Tuskers Kerala        bat                3
                            field              5
Kolkata Knight Riders       bat               30
                            field             62
Mumbai Indians              field             54
                            bat               44
Pune Warriors               field              9
                            bat               11
Rajasthan Royals            field             48
                            bat               32
Rising Pune Supergiant      field              6
Rising Pune Supergiants     field              4
                            bat                3
Royal Challengers Bangalore bat               20
                            field             61
Sunrisers Hyderabad         field             26
                            bat               20

In [75]:
# Total number of normal or tie matches
df1['result'].unique()

array(['normal', 'tie', 'no result'], dtype=object)

In [90]:
nor_tie = ((df1['result'] == 'normal') | (df1['result'] == 'tie'))
df1.loc[nor_tie,'result'].value_counts()

result
normal    743
tie         9
Name: count, dtype: int64

In [89]:
# Team names where result is tie
tie_matches= df1['result'] == 'tie'
df1.loc[tie_matches,['team1','team2']]

                           team1                        team2
33                 Gujarat Lions               Mumbai Indians
125             Rajasthan Royals        Kolkata Knight Riders
189              Kings XI Punjab          Chennai Super Kings
387  Royal Challengers Bangalore          Sunrisers Hyderabad
400             Delhi Daredevils  Royal Challengers Bangalore
475             Rajasthan Royals        Kolkata Knight Riders
535             Rajasthan Royals              Kings XI Punjab
705        Kolkata Knight Riders               Delhi Capitals
746               Mumbai Indians          Sunrisers Hyderabad

In [98]:
# Team won by highest runs
high_runs = (df1['win_by_runs'] == max(df1['win_by_runs']))
df1.loc[high_runs,'winner']

43    Mumbai Indians
Name: winner, dtype: object

In [106]:
# Team won by lowest runs
df4 = df1.replace(0, np.nan)
low_runs = (df4['win_by_runs'] == min(df4['win_by_runs']))
df4.loc[low_runs,'winner']

58                  Mumbai Indians
105                Kings XI Punjab
163                Kings XI Punjab
344               Delhi Daredevils
350                 Mumbai Indians
518            Chennai Super Kings
598                  Gujarat Lions
614    Royal Challengers Bangalore
734    Royal Challengers Bangalore
755                 Mumbai Indians
Name: winner, dtype: object

In [112]:
# Player of the match more than 3 times
df5 = df1[(df1['player_of_match'].value_counts()) > 3]
df5

C:\Users\anshu\AppData\Local\Temp\ipykernel_16328\270282927.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df5 = df1[(df1['player_of_match'].value_counts()) > 3]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

C:\Users\anshu\AppData\Local\Temp\ipykernel_16328\3834063000.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[filt]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).